<!DOCTYPE html>

<html class="light" lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Spring EduManagement</title>
    <!-- Tailwind CSS with plugins -->
    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
    <!-- Google Fonts: Manrope & Inter -->
    <link
        href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&amp;family=Inter:wght@400;500;600&amp;display=swap"
        rel="stylesheet" />
    <!-- Material Symbols -->
    <link
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&amp;display=swap"
        rel="stylesheet" />
    <link
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&amp;display=swap"
        rel="stylesheet" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <link rel="stylesheet" href="/css/estudiantes-list.css" type="text/css" />
    <link rel="stylesheet" href="/css/evaluaciones-list.css" type="text/css" />
    <link rel="stylesheet" href="/css/sidebar.css" type="text/css" />
    <link rel="stylesheet" href="/css/modal.css" type="text/css" />
    <link rel="stylesheet" href="/css/modalCurso.css" type="text/css" />
    <link rel="stylesheet" href="/css/modalNotas.css" type="text/css" />
    <link rel="stylesheet" href="/css/toast.css" type="text/css" />

    <script src="/js/modal.js"></script>
    <script src="/js/evaluaciones-list.js"></script>
    <script src="/js/evaluaciones-list-module.js" type="module"></script>
    <script src="/js/toast.js"></script>
    <script src="/js/tailwind.js"></script>
</head>

<body class="bg-surface text-on-surface min-h-screen">
    <!-- Barra de Menú lateral -->
    <div th:replace="~{../fragments/toast :: toast}"></div>
    <div th:replace="~{../fragments/modal :: modal}"></div>
    <div th:replace="~{../fragments/modalCursos :: modalCursos}"></div>
    <div th:replace="~{../fragments/modalNotas :: modalNotas}"></div>
    <div th:replace="~{../fragments/sidebar :: sidebar}"></div>
    
    <!-- Contenido Principal -->
    <main class="ml-64 p-8">
        <div class="container mx-auto">
            <h1 class="text-3xl font-bold mb-6">Cursos y Evaluaciones</h1>
            <input type="hidden" id="estudianteId" th:value="${data[0][0].estudiante.id}">
            <div class="mb-6 top-tool-bar">
                <div class="col-6 text-left">
                    Alumno: <span th:text="${data[0][0].estudiante.nombre} + ' ' + ${data[0][0].estudiante.apellido}"></span>
                </div>
                <div class="col-6 text-right">
                    <button type="button" class="btn btn-primary mb-2" onclick="showModalCursos()">Inscribir curso</button>
                </div>
            </div>
            <!-- Tabla de Estudiantes -->
            <div class="bg-white rounded-lg shadow-md p-6">
                <div class="overflow-x-auto">
                    <table class="min-w-full table-auto">
                        <thead>
                            <tr class="border-b">
                                <th class="px-4 py-2 text-center delete-column" id="deleteColumn">Eliminar</th>
                                <th class="px-4 py-2 text-center">Curso</th>
                                <th class="px-4 py-2 text-left">Agregar Evaluación</th>
                                <th class="px-4 py-2 text-left">Nota 1</th>
                                <th class="px-4 py-2 text-left">Nota 2</th>
                                <th class="px-4 py-2 text-left">Nota 3</th>
                                <th class="px-4 py-2 text-left">Nota 4</th>
                                <th class="px-4 py-2 text-left">Nota 5</th>
                                <th class="px-4 py-2 text-left">Nota 6</th>
                                <th class="px-4 py-2 text-left">Nota 7</th>
                                <th class="px-4 py-2 text-left">Nota 8</th>
                                <th class="px-4 py-2 text-left">Nota 9</th>
                                <th class="px-4 py-2 text-left">Nota 10</th>
                                <!-- <th class="px-4 py-2 text-left">Promedio</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="row : ${data}" 
                                th:if="${row[0].id != null}" 
                                class="border-b hover:bg-gray-50"
                                th:data-id="${row[0].curso.id}"
                                >
                                <td class="px-4 py-2 col-actions delete-column">

                                    <script th:inline="javascript">
                                        // Contar cursos sin notas para determinar si se muestra la columna eliminar
                                        // El código encargado de mostrar la columna eliminar se encuentra en el archivo evaluaciones-list-module.js
                                        var nota = /*[[${row[0].nota1 == null ? null : row[0].nota1}]]*/ null;
                                        if(nota == null) {
                                            cursosSinNotas++;
                                            console.log("Curso sin notas:", cursosSinNotas);
                                        }
                                    </script>

                                    <span 
                                        class="bg-red-500 hover:bg-red-700 text-white px-3 py-1 rounded ml-2"
                                        th:onclick="'deleteCurso(' + ${row[0].id} + ');'"
                                        th:if="${row[0].nota1 == null}"
                                    >
                                        <i class="material-symbols-outlined">delete</i>
                                    </span>
                                </td>
                                <td class="px-4 py-2" th:text="${row[0].curso.nombre}"></td>
                                <td class="px-4 py-2 col-actions" th:onclick="'showModalNotas(' + ${row[0].curso.id} + ');'">
                                    <span class="bg-red-500 hover:bg-red-700 text-white px-3 py-1 rounded ml-2">
                                        <i class="material-symbols-outlined">add</i>
                                    </span>
                                </td>
                                <td class="px-4 py-2" th:style="${row[0].nota1 != null ? 'cursor: pointer;' : ''}" th:title="${row[0].nota1 != null ? 'Eliminar' : ''}"  th:text="${row[0].nota1 != null ? row[0].nota1.nota : ''}" th:data-id="${row[0].nota1 != null ? row[0].nota1.id : null}"></td>
                                <td class="px-4 py-2" th:style="${row[0].nota2 != null ? 'cursor: pointer;' : ''}" th:title="${row[0].nota2 != null ? 'Eliminar' : ''}"  th:text="${row[0].nota2 != null ? row[0].nota2.nota : ''}" th:data-id="${row[0].nota2 != null ? row[0].nota2.id : null}"></td>
                                <td class="px-4 py-2" th:style="${row[0].nota3 != null ? 'cursor: pointer;' : ''}" th:title="${row[0].nota3 != null ? 'Eliminar' : ''}"  th:text="${row[0].nota3 != null ? row[0].nota3.nota : ''}" th:data-id="${row[0].nota3 != null ? row[0].nota3.id : null}"></td>
                                <td class="px-4 py-2" th:style="${row[0].nota4 != null ? 'cursor: pointer;' : ''}" th:title="${row[0].nota4 != null ? 'Eliminar' : ''}"  th:text="${row[0].nota4 != null ? row[0].nota4.nota : ''}" th:data-id="${row[0].nota4 != null ? row[0].nota4.id : null}"></td>
                                <td class="px-4 py-2" th:style="${row[0].nota5 != null ? 'cursor: pointer;' : ''}" th:title="${row[0].nota5 != null ? 'Eliminar' : ''}"  th:text="${row[0].nota5 != null ? row[0].nota5.nota : ''}" th:data-id="${row[0].nota5 != null ? row[0].nota5.id : null}"></td>
                                <td class="px-4 py-2" th:style="${row[0].nota6 != null ? 'cursor: pointer;' : ''}" th:title="${row[0].nota6 != null ? 'Eliminar' : ''}"  th:text="${row[0].nota6 != null ? row[0].nota6.nota : ''}" th:data-id="${row[0].nota6 != null ? row[0].nota6.id : null}"></td>
                                <td class="px-4 py-2" th:style="${row[0].nota7 != null ? 'cursor: pointer;' : ''}" th:title="${row[0].nota7 != null ? 'Eliminar' : ''}"  th:text="${row[0].nota7 != null ? row[0].nota7.nota : ''}" th:data-id="${row[0].nota7 != null ? row[0].nota7.id : null}"></td>
                                <td class="px-4 py-2" th:style="${row[0].nota8 != null ? 'cursor: pointer;' : ''}" th:title="${row[0].nota8 != null ? 'Eliminar' : ''}"  th:text="${row[0].nota8 != null ? row[0].nota8.nota : ''}" th:data-id="${row[0].nota8 != null ? row[0].nota8.id : null}"></td>
                                <td class="px-4 py-2" th:style="${row[0].nota9 != null ? 'cursor: pointer;' : ''}" th:title="${row[0].nota9 != null ? 'Eliminar' : ''}"  th:text="${row[0].nota9 != null ? row[0].nota9.nota : ''}" th:data-id="${row[0].nota9 != null ? row[0].nota9.id : null}"></td>
                                <td class="px-4 py-2" th:style="${row[0].nota10 != null ? 'cursor: pointer;' : ''}" th:title="${row[0].nota10 != null ? 'Eliminar' : ''}"  th:text="${row[0].nota10 != null ? row[0].nota10.nota : ''}" th:data-id="${row[0].nota10 != null ? row[0].nota10.id : null}"></td>
                                <!-- <td class="px-4 py-2" th:text="${row[0].promedio}"></td> -->
                            </tr>
                        </tbody>
                    </table>
                </div>
                
            </div>
        </div>
    </main>

    <div id="popup-menu" class="popup-menu">
        <input type="hidden" id="nota-id" value=""/>
        <ul>
            <li onclick="editarEvaluacion()">Editar</li>
            <li onclick="eliminarEvaluacion()">Eliminar</li>
        </ul>
    </div>

    <form 
        method="post" 
        th:action="@{/evaluaciones/delete}"
        id="deleteForm"
        style="display: none;">
        <input type="hidden" name="id" id="delete-id" value="" />
    </form>
</body>

</html>