.col-actions{
    cursor: pointer;
}

.popup-menu {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1000;
    box-shadow: 2px 3px #00000066;
    border-radius: 5px;
}


.popup-menu li{
    padding: 0px 5px;
}

.popup-menu li:hover{
    background-color: #0373f3;
    color: white;
    cursor: pointer;
}

.active-td{
    border: solid thin;
    border-color: #cdcdcd;
    background: #f0f5ff;
}

.delete-column{
    display: none;
}

.a-to-back{
    text-decoration: none;
    color: #000;
    display: inline-flex;
    align-items: center;
    padding-right: 30px;
}

.a-to-back span{
    padding: 5px 5px 0px 0px !important;
}