.modal-form-notas {
    width: 16em !important;
    display: flex !important;
    align-items: center !important;
    left: 20% !important;
    top: 10em !important;
}

.modal-form-notas .form-container {
    display: flex !important;
    align-items: center !important;
}

#nota{
    border-radius: 5px;
    border-color: #b9afaf;
}
